<p>tasks works!</p>
<h1>This renders a variable! Value: {{value}}</h1>

<div [className]="testClass">{{testNum}}</div>
<button (click)="addOne()">Click</button>

<div class="container">
    <div class="row">
        <div class="col">
            Test Column 1
        </div>
        <div class="col">
            Test column 2
        </div>
        @for(item of items; track $index)
        {
        @if(!(item === "item3")){
        <div class="col">
            {{item}}
        </div>
        }
        }

    </div>
    <div class="row">
        <table class="assignment-table">
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Test name</td>
                    <td>Test date</td>
                    <td>Test time</td>
                    <td><button>Delete</button></td>
                </tr>
                @for(task of tasks; track $index)
                {
                    <tr>
                        <td>{{task.desc}}</td>
                        <td>{{task.date | date}}</td>
                        <td>{{task.date | date:'shortTime'}}</td>
                        <td><button>Delete</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>