$table-width: 90%;

div {
  color: red;
}

.container {
  display: flexbox;
  width: 100%;
  position: relative;
}

.row {
  position: relative;
  display: flex;
  flex-direction: row;
}

.col {
  position: inherit;
  display: flex;
  flex-direction: column;
}

.task-form {
  position: relative;
  display: flex;
  width: $table-width;
  margin-inline: auto;
  margin-top: 2%;
  height: 80%;
}

.task-form input {
  width: 25%;
}

.task-table {
  margin-top: 5%;
  display: block;
  width: $table-width !important;
  min-width: $table-width !important;
  margin-inline: auto;
}

.mat-column-date {
  min-width: 15%;
}

.mat-column-time {
  width: 10%;
}

.mat-column-delete {
  width: 10%;
  text-align: center;
}

.task-form mat-form-field {
  margin-inline: 0.5%;
  // width: 100%;
}

.task-form button {
  margin-top: 1%;
}

.task-form mat-form-field input {
  width: 100%;
}

.col {
  width: 50%;
}

.calendar {
  margin: auto;
  margin-top: 3%;
  width: 50%;
}
