$table-width: 90%;

div {
  color: red;
}

.container {
  display: flex;
  width: 100%;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
}

.row {
  position: relative;
  display: flex;
  flex-direction: row;
  flex: auto;
}

.col {
  position: inherit;
  // display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}

.task-form {
  position: relative;
  display: flex;
  width: $table-width;
  margin-inline: auto;
  margin-top: 2%;
  height: 80%;
  flex-wrap: wrap;
  flex-direction: row;
}

.task-form input {
  width: 25%;
  flex: 1;
}

.task-table {
  margin-top: 5%;
  display: block;
  max-width: $table-width !important;
  min-width: $table-width !important;
  margin-inline: auto;
}

.mat-column-date {
  min-width: 15%;
}

.mat-column-time {
  width: 10%;
}

.mat-column-delete {
  width: 10%;
  text-align: center;
}

.task-form mat-form-field {
  margin-inline: 0.5%;
  width: 100%;
  min-width: fit-content;
}

.task-form button {
  margin-top: 1%;
}

.task-form mat-form-field input {
  width: 100%;
  min-width: fit-content;
}

.calendar {
  margin: auto;
  margin-top: 3%;
  width: 75%;
  min-width: 200px;
}

.submit {
  min-width: 50%;
  max-width: 50%;
  margin: auto;
}

@media (max-width: 500px) {
  .container {
    font-size: 10px;
  }

  .calendar {
    margin-bottom: 3em;
  }
}
