<mat-toolbar class="mat-elevation-z5 navbar">
    <img routerLink="/home" class="logo" src="/assets/artificial-intelligence-mod.png">
    <h3 routerLink="/home" class="title">Memory Machine 2.0</h3>

    <mat-nav-list class="links">
        <a mat-list-item routerLink="/tasks" routerLinkActive="active"
            [activated]="router.isActive('/tasks', true)">Tasks</a>
        <a mat-list-item routerLink="/calendar" routerLinkActive="active"
            [activated]="router.isActive('/calendar', true)">Calendar</a>
        <a mat-list-item routerLink="/schedule" routerLinkActive="active"
            [activated]="router.isActive('/schedule', true)">Schedule</a>
        <a mat-list-item routerLink="/projects" routerLinkActive="active"
            [activated]="router.isActive('/projects', true)">Projects</a>
    </mat-nav-list>



    <div class="account">
        @if(currUser == null){
        <button mat-raised-button (click)="registerModal()" style="margin-right: 5%">Sign Up</button>
        <button mat-stroked-button (click)="signInModal()">Sign In</button>
        }
        @else {
        <button class="account-button" (click)="accountDropdown(dropdown)"><mat-icon class="account-icon" fontIcon="account_circle" aria-hidden="false"
                aria-label="Account profile icon"></mat-icon>
                <mat-icon style="margin-left: 0; position: absolute; bottom: 0; translate: -10px -5px;" fontIcon="arrow_drop_down" aria-hidden="false"
                aria-label="Account profile icon"></mat-icon>
        </button>
        <div class="account-dropdown" #dropdown id="account-dropdown">
            <h4>{{currUser.displayName}}</h4>
            <button mat-raised-button (click)="signOut()" class="logout-btn">Sign Out</button>
        </div>
        }
    </div>
</mat-toolbar>


<dialog class="modal" #signUp>
    <span class="close" #close>&times;</span>
    <form class="modal-content" #registerForm="ngForm" (ngSubmit)="registerUser(registerForm)">
        <h1 class="title">Sign Up</h1>
        <input placeholder="First Name" type="text" first-name ngModel name="firstname">
        <input placeholder="Last Name" type="text" last-name ngModel name="lastname">
        <input autofocus="false" autocomplete="false" placeholder="Email Address" type="text" email ngModel name="email">
        <input placeholder="Password" type="password" password ngModel name="password">
        <button type="submit">Submit</button>
    </form>
</dialog>


<dialog class="modal" #signIn type="modal">
    <span class="close" #close>&times;</span>
    <form class="modal-content" #signInForm="ngForm" (ngSubmit)="login(signInForm)">
        <h1 class="title">Sign In</h1>
        <input placeholder="Email Address" type="text" email ngModel name="email">
        <input placeholder="Password" type="password" password ngModel name="password">
        <button type="submit">Submit</button>
    </form>
</dialog>
