@use "@angular/material" as mat;
@include mat.core();
@import "../../../styles.scss";

.logo {
  width: 48px;
  height: 48px;
  background-color: black;
  border-radius: 50%;
  position: relative;
  display: block;
  margin-inline: 1%;
  border: 2px solid black;
}

.links {
  margin-left: 2%;
  font-size: 18px;
  display: flex;
  width: 40%;
}

.links > a {
  width: fit-content;
}

.links > a:hover {
  color: white;
}

// .active{
//     // font-size: 30px;
//     border-left: 1px solid black;
//     border-right: 1px solid black;
//     padding: 2% 5%;
//     // background-color: get-theme-color($theme, );
// }

.title:hover {
  color: white;
}

.right-menu {
  position: absolute;
  right: 0;
  justify-content: right;
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.account {
  margin-right: 2%;
  justify-content: center;
}

.account > p {
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.account-icon {
  width: 48px;
  height: 48px;
  font-size: 48px;
}

.account-button {
  background-color: none;
  background: 0;
  border: 0;
  color: white;
  cursor: pointer;
}

.account-dropdown {
  position: absolute;
  display: none;
  flex-direction: column;
  right: 0;
  translate: 20%;
  background-color: whitesmoke;
  color: black;
  padding: 5% 30%;
  z-index: 5;
}

.logout-btn {
  height: 80%;
  display: block;
  z-index: 10;
}

.logout-btn:hover {
  cursor: pointer;
}

// $theme: mat.define-theme();

.navbar {
  background-color: mat.get-theme-color($theme, primary, 30);
}

.hamburger-menu {
  display: none;
}

.hamburger-icon {
  font-size: 1.5rem !important;
  width: 100%;
  margin: auto !important;
}

@media (max-width: 960px) {
  .hamburger-menu {
    display: block;
  }

  .links {
    display: none;
  }

  .title{
    display: none;
  }
}
