.form-input{
  min-width: 75%;

  input{
    width: 100%;
  }
}

.submit-btn{
  display: inline-block;
  width: 25%;
}

.remember-btn{
  position: relative;
  // margin-right: 0;
}

.break{
  display: flex;
  justify-content: space-around;
}
