@use "sass:math";

.center{
  justify-content: center;
}

.line{
  width: 100%;
}

.calendar-col{
  display: block;
  margin-inline: auto;
  width: 40%;
}

.events-col{
  border: 1px solid white;
  border-radius: 5%;
  margin-inline: 5%;
  display: flex;
  width: 40%;
}

.events{
  flex-direction: col;
}

.container{
  margin-top: 2%;
}
