// @import "@angular/material/prebuilt-themes/azure-blue.css";
@use "@angular/material" as mat;
@include mat.core();
@import "../../../theme.scss";


.table-container {
  display: flex;
  max-width: 85%;
  min-width: 70%;
  margin: auto;
  margin-top: 5%;
}

.schedule-table {
  td,
  th {
    text-align: center;
    margin-inline: end;
  }
}

.title {
  text-align: center;
}

.times {
  border-right: 2px solid white;
}

.cols {
  border-right: 1px dashed white;
  width: percentage(calc(1 / 7)) - 1.5;
}

.event-add {
  display: flex;
  margin-inline: auto;
  max-width: 85%;
  min-width: 70%;
  flex-direction: row;
  margin-top: 2%;
}

.event-form {
  width: 100%;
}

.day-select {
  margin-inline: 1%;
}

.time-input {
  margin-inline: 1%;
  width: 10%;
  min-width: fit-content;
}

.delete{
  color: mat.get-theme-color($theme, error, 50) !important;
  width: 75%;
}
.icon{
  margin: auto !important;
  width: 100%;
}


@media(max-width: 780px){
  .time-input{
    width: 100%;
    margin-inline: auto;
  }

  .event-input{
    width: 100%;
    margin-inline: auto;
  }
}
