<div class="container">
  <!-- <table mat-table>
    <thead>
      <th>Project Name</th>
      <th>Number of Tasks</th>
      <th>Priority</th>
      <th>Delete</th>
    </thead>
    <tbody>
      @for(project of projects; track $index) {
      <tr>
        <td class="table-cell">{{ project.projectName }}</td>
        <td class="table-cell middle">{{ project.numTasks }}</td>
        <td class="table-cell middle">{{ project.priority }}</td>
        <td class="table-cell">
          <button mat-raised-button (click)="deleteProject(project.id)">
            Delete
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table> -->
  @if(projects.length > 0){
  <div class="project-table mat-tertiary">
    <table mat-table [dataSource]="projects">
      <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let project">{{ project.projectName }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="tasks">
        <th mat-header-cell *matHeaderCellDef>Num. Tasks</th>
        <td mat-cell *matCellDef="let project">{{ project.numTasks }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="priority">
        <th mat-header-cell *matHeaderCellDef>Priority</th>
        <td mat-cell *matCellDef="let project">{{ project.priority }}</td>
      </ng-container>

      <ng-container matColumnDef="taskButton">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let project" width="1%" id="{{ project.id }}">
          <button
            mat-button
            (click)="showTasks(project.id)"
            style="width: fit-content"
          >
            <mat-icon
              style="margin: auto; width: 100%"
              aria-hidden="false"
              aria-label="dropdown_arrow"
              fontIcon="arrow_drop_down"
            />
          </button>
        </td>

        <!-- <td mat-cell *matCellDef="let project"><button mat-button (click) = "addTask('', project.id)">Add Task</button></td> -->
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <table class="mat-table">
      <thead>
        <tr>
          <th>Project Name</th>
          <th>Number of Tasks</th>
          <th>Priority</th>
        </tr>
      </thead>
      <tbody>
        @for(project of projects; track project){
        <tr>
          <td>{{ project.projectName }}</td>
          <td>{{ project.numTasks }}</td>
          <td>{{ project.priority }}</td>
          <td align="right" id="{{ project.id }}">
            <button
              mat-button
              (click)="showTasks(project.id)"
              style="width: fit-content"
            >
              <mat-icon
                style="margin: auto; width: 100%"
                aria-hidden="false"
                aria-label="dropdown_arrow"
                fontIcon="arrow_drop_down"
              />
            </button>
          </td>
        </tr>
        <tr id="tasks-{{ project.id }}" style="display: none">
          @for(task of project.tasks; track $index){
          <!-- <tr width="100%"> -->
            <td colspan="all">{{ task["name"] }}</td>
          <!-- </tr> -->
          }
        </tr>
        }
      </tbody>
    </table>
  </div>

  } @else {
  <h1 class="no-projects">
    No projects to display. Use the input below to add some!
  </h1>
  }
  <!-- <mat-slide-toggle class="toggle">Toggle me!</mat-slide-toggle>
  <mat-checkbox class="tertiary-checkbox" />
  <section class="tertiary-checkbox">
    <mat-checkbox />
  </section> -->

  <!-- TODO Add validation -->
  <form
    class="input-container"
    #projectForm="ngForm"
    (ngSubmit)="submitProject(projectForm)"
  >
    <mat-form-field class="name-input">
      <mat-label>Project Name</mat-label>
      <input
        class="input"
        matInput
        placeholder="Enter Project Name"
        name="projectName"
        ngModel
      />
    </mat-form-field>

    <mat-form-field class="priority-input">
      <input
        matInput
        placeholder="Enter Priority"
        type="number"
        value="0"
        name="priority"
        ngModel
      />
    </mat-form-field>
    <button mat-flat-button class="submit" type="submit">Submit</button>
    <!-- <mat-form-field>
      <input matInput type="submit" value="Submit" id="submit-btn" />
    </mat-form-field> -->
    @if(!priorityValid){
    <div class="invalid" style="grid-column: 2">
      Please enter a valid priority number
    </div>
    }
  </form>
</div>
