<div class="container">
  @if(projects.length > 0){
  <div class="project-table mat-tertiary">
    <table class="mat-table">
      <thead>
        <tr>
          <th>Project Name</th>
          <th>Number of Tasks</th>
          <th>Priority</th>
        </tr>
      </thead>
      <tbody>
        @for(project of projects; track project){
        <tr>
          <td>{{ project.projectName }}</td>
          <td>{{ project.numTasks }}</td>
          <td>{{ project.priority }}</td>
          <td align="right" id="{{ project.id }}">
            <button
              mat-button
              (click)="showTasks(project.id)"
              style="width: fit-content"
            >
              <mat-icon
                style="margin: auto; width: 100%"
                aria-hidden="false"
                aria-label="dropdown_arrow"
                fontIcon="arrow_drop_down"
              />
            </button>
          </td>
        </tr>
          <tr id="taskadd-{{ project.id }}" style="display: none">
            <td colspan="2">
              <mat-form-field style="margin-top: 2%; width:90%;">
                <mat-label>New Task</mat-label>
                <input matInput placeholder="Task Name"/>
              </mat-form-field>
            </td>
            <td colspan="2" align="right"><button mat-stroked-button style="margin-right: 2%;">Add Task</button></td>
          </tr>

          @for(task of project.tasks; track $index){
          <tr id="tasks-{{ project.id }}" style="display: none">
            <td colspan="all">{{ task["name"] }}</td>
          </tr>
          }
        }
      </tbody>
    </table>
  </div>

  } @else {
  <h1 class="no-projects">
    No projects to display. Use the input below to add some!
  </h1>
  }
  <!-- <mat-slide-toggle class="toggle">Toggle me!</mat-slide-toggle>
  <mat-checkbox class="tertiary-checkbox" />
  <section class="tertiary-checkbox">
    <mat-checkbox />
  </section> -->

  <!-- TODO Add validation -->
  <form
    class="input-container"
    #projectForm="ngForm"
    (ngSubmit)="submitProject(projectForm)"
  >
    <mat-form-field class="name-input">
      <mat-label>Project Name</mat-label>
      <input
        class="input"
        matInput
        placeholder="Enter Project Name"
        name="projectName"
        ngModel
      />
    </mat-form-field>

    <mat-form-field class="priority-input">
      <input
        matInput
        placeholder="Enter Priority"
        type="number"
        value="0"
        name="priority"
        ngModel
      />
    </mat-form-field>
    <button mat-flat-button class="submit" type="submit">Submit</button>
    <!-- <mat-form-field>
      <input matInput type="submit" value="Submit" id="submit-btn" />
    </mat-form-field> -->
    @if(!priorityValid){
    <div class="invalid" style="grid-column: 2">
      Please enter a valid priority number
    </div>
    }
  </form>
</div>
