<div class="container">
  @if(projects.length > 0){
  <div class="project-table mat-tertiary">
    <table class="mat-table">
      <thead>
        <tr>
          <th>Project Name</th>
          <th>Number of Tasks</th>
          <th>Priority</th>
        </tr>
      </thead>
      <tbody>
        @for(project of projects; track project){
        <tr style="border-top: 1px solid;">
          <td>{{ project.projectName }}</td>
          <td>{{ project.numTasks }}</td>
          <td>{{ project.priority }}</td>
          <td align="right" id="{{ project.id }}">
            <button
              mat-button
              (click)="showTasks(project.id)"
              style="width: fit-content"
            >
              <mat-icon
                class="dropdown icon"
                aria-hidden="false"
                aria-label="dropdown_arrow"
                fontIcon="arrow_drop_down"
                id="icon-{{project.id}}"
              />
            </button>
          </td>
          <td style="width: 7.5%"><button mat-button style="width: fit-content" (click)="deleteProject(project.id)">
            <mat-icon class="delete icon" fontIcon="delete"/>
          </button></td>
        </tr>
          <tr id="taskadd-{{ project.id }}" style="display: none;">
            <td colspan="2">
              <mat-form-field style="margin-top: 2%; width:90%;">
                <mat-label>New Task</mat-label>
                <input #newTask matInput placeholder="Task Name"/>
              </mat-form-field>
            </td>
            <td colspan="2" align="right"><button mat-stroked-button style="margin-right: 2%;" (click)="addTask(newTask.value, project.id)">Add Task</button></td>
          </tr>

          @for(task of project.tasks; track task){
          <tr class="tasks-{{project.id}} task" id="tasks-{{ project.id }}" style="display: none">
            <td colspan="3" >{{ task["taskName"] }}</td>
            <td align="right"><button mat-stroked-button class="delete-task" (click)="deleteTask(project.id, task.taskID)">Delete Task</button></td>
          </tr>
          }
        }
      </tbody>
    </table>
  </div>

  } @else {
  <h1 class="no-projects">
    No projects to display. Use the input below to add some!
  </h1>
  }

  <!-- TODO Add validation -->
  <form
    class="input-container"
    #projectForm="ngForm"
    (ngSubmit)="submitProject(projectForm)"
  >
    <mat-form-field class="name-input">
      <mat-label>Project Name</mat-label>
      <input
        class="input"
        matInput
        placeholder="Enter Project Name"
        name="projectName"
        ngModel
      />
    </mat-form-field>

    <mat-form-field class="priority-input">
      <input
        matInput
        placeholder="Enter Priority"
        type="number"
        value="0"
        name="priority"
        ngModel
      />
    </mat-form-field>
    <button mat-flat-button class="submit" type="submit">Submit</button>
    @if(!priorityValid){
    <div class="invalid" style="grid-column: 2">
      Please enter a valid priority number
    </div>
    }
  </form>
</div>
