.tasks{
  border: 2px solid white;
  text-align: center;
  width: 50%;
  margin-left: 7.5%;

  .header{
    border-bottom: 1px dashed white;
  }

  .body{
    min-height: 20vh;
  }
}

.row{
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
}

.col{
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  flex: 1 1;
}

.weekly-schedule{
  border: 2px solid white;
  width: 90%;
}
