<div class="container">
  <div class="row center-text">
    <h1 class="">Weekly Tasks Page</h1>
  </div>
  <div class="row center-text">
    <p>This page is for keeping track of tasks weekly. They may happen on a specific day or different days each week.</p>
  </div>

  <div class="row">
    <div class="col">
      <div class="tasks">
        <div class="header">
          <h3>Tasks</h3>
        </div>
        <div class="body">

        </div>
      </div>
    </div>
    <div class="col">
      <div class="weekly-schedule">
        <div class="header">
          <h3>Weekly Schedule</h3>
        </div>
      </div>
    </div>
  </div>
</div>
