<div class="container">
  <div class="row center-text">
    <h1 class="">Weekly Tasks Page</h1>
  </div>
  <div class="row center-text">
    <p>This page is for keeping track of tasks weekly. They may happen on a specific day or different days each week.
    </p>
  </div>

  <div class="row">
    <div class="col-3">
      <div class="tasks">
        <div class="header">
          <h1>Tasks</h1>
        </div>
        <div class="body">
          @for(task of taskList; track $index){
          <div class="task mat-elevation-z8" id="task-{{task.taskID}}" (mousedown)="mouseDown($event, 'task-'+task.taskID+'-draggable')" >
            <div draggable="false" class="task-name" id="task-{{task.taskID}}-draggable"
               (mouseup)="mouseUp($event)">
              <p style="background-color:blue; width: fit-content; margin-inline: auto;z-index: -1;">{{task.taskName}}
              </p>
            </div>

            <button mat-button style="width: fit-contentl; justify-self: center" (click)="deleteTask(task.taskID)">
              <mat-icon style="margin-inline: auto; color: red;" fontIcon="delete" />
            </button>
          </div>
          }
        </div>
      </div>
    </div>
    <div class="col-7">
      <div class="weekly-schedule">
        <div class="header">
          <h1>Weekly Schedule</h1>
        </div>
        <div class="cal-body">
          <!-- Headers -->
          <div class="row headers">
            <div class="col">
              <h2>Sunday</h2>
            </div>
            <div class="col">
              <h2>Monday</h2>
            </div>
            <div class="col">
              <h2>Tuesday</h2>
            </div>
            <div class="col">
              <h2>Wednesday</h2>
            </div>
            <div class="col">
              <h2>Thursday</h2>
            </div>
            <div class="col">
              <h2>Friday</h2>
            </div>
            <div class="col">
              <h2>Saturday</h2>
            </div>
          </div>
          @for(row of taskRow; track $index){
          <div class="row">
            <div class="col table-task">{{row.sunday}}</div>
            <div class="col table-task">{{row.monday}}</div>
            <div class="col table-task">{{row.tuesday}}</div>
            <div class="col table-task">{{row.wednesday}}</div>
            <div class="col table-task">{{row.thursday}}</div>
            <div class="col table-task">{{row.friday}}</div>
            <div class="col table-task">{{row.saturday}}</div>
          </div>
          }

          <div class="row" id="addAbove" #addAbove>
            <div class="col table-task drop" id="drop-sunday" (mouseenter)="highlight('drop-sunday', 'yellow')"
              (mouseleave)="highlight('drop-sunday', '--mat-app-background-color')">

            </div>
            <div class="col table-task drop" id="drop-monday"></div>
            <div class="col table-task drop" id="drop-tuesday"></div>
            <div class="col table-task drop" id="drop-wednesday"></div>
            <div class="col table-task drop" id="drop-thursday"></div>
            <div class="col table-task drop" id="drop-friday"></div>
            <div class="col table-task drop" id="drop-saturday"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <form class="task-form">
        <mat-form-field style="width: 60%">
          <input matInput type="text" placeholder="New Task Name">
        </mat-form-field>
        <button mat-stroked-button>Add</button>
      </form>
    </div>
    <div class="col-7"></div>
  </div>
</div>

<div class="new-row row" #newRow>
  <div class="col table-task" id="new-sunday"></div>
  <div class="col table-task" id="new-monday"></div>
  <div class="col table-task" id="new-tuesday"></div>
  <div class="col table-task" id="new-wednesday"></div>
  <div class="col table-task" id="new-thursday"></div>
  <div class="col table-task" id="new-friday"></div>
  <div class="col table-task" id="new-saturday"></div>
</div>
