<script src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<div class="container">
  <div class="row center-text">
    <h1 class="">Weekly Tasks Page</h1>
  </div>
  <div class="row center-text">
    <p>This page is for keeping track of tasks weekly. They may happen on a specific day or different days each week.
    </p>
  </div>

  <div class="row">
    <div class="col-3">
      <div class="tasks">
        <div class="header">
          <h1>Tasks</h1>
        </div>
        <div class="body">
          @for(task of taskList; track $index){
          <div class="task mat-elevation-z8" id="task-{{task.taskID}}">
            <div draggable="false" class="task-name draggable" id="task-{{task.taskID}}-draggable">
              <p style="width: fit-content; margin-inline: auto;z-index: -1;">{{task.taskName}}
              </p>
            </div>

            <button mat-button style="width: fit-content; justify-self: center" (click)="deleteTask(task.taskID)">
              <mat-icon class="delete-btn" fontIcon="delete" />
            </button>
          </div>
          }
        </div>
      </div>
    </div>
    <div class="col-7" style="max-height: 65vh;overflow-y: scroll;">
      <table class="weekly-schedule">
        <tr class="header">
          <th colspan="7">Weekly Schedule</th>
        </tr>
        <tbody class="cal-body">
          <!-- Headers -->
          <tr class="headers">
            <td class="">
              <h2>Sunday</h2>
            </td>
            <td class="">
              <h2>Monday</h2>
            </td>
            <td class="">
              <h2>Tuesday</h2>
            </td>
            <td class="">
              <h2>Wednesday</h2>
            </td>
            <td class="">
              <h2>Thursday</h2>
            </td>
            <td class="">
              <h2>Friday</h2>
            </td>
            <td class="">
              <h2>Saturday</h2>
            </td>
            <td class="">
              <h2></h2>
            </td>
          </tr>
          @for(row of taskRows; track $index){
          <tr class="data-row">
            <td class=" table-task">
              <div>{{row.sunday}}</div>
            </td>
            <td class=" table-task">
              <div>{{row.monday}}</div>
            </td>
            <td class=" table-task">
              <div>{{row.tuesday}}</div>
            </td>
            <td class=" table-task">
              <div>{{row.wednesday}}</div>
            </td>
            <td class=" table-task">
              <div>{{row.thursday}}</div>
            </td>
            <td class=" table-task">
              <div>{{row.friday}}</div>
            </td>
            <td class=" table-task">
              <div>{{row.saturday}}</div>
            </td>
            <td class=" "><button mat-button class="" (click)="deleteRow(row.id)">
                <mat-icon class="delete-btn" fontIcon="delete" />
              </button></td>
          </tr>
          }

          <tr class="data-row" id="addAbove" #addAbove rownum="0">
            <td class=" table-task droppable" id="drop-sunday"></td>
            <td class=" table-task droppable" id="drop-monday"></td>
            <td class=" table-task droppable" id="drop-tuesday"></td>
            <td class=" table-task droppable" id="drop-wednesday"></td>
            <td class=" table-task droppable" id="drop-thursday"></td>
            <td class=" table-task droppable" id="drop-friday"></td>
            <td class=" table-task droppable" id="drop-saturday"></td>
          </tr>

          <tr class="new-row" id="newRow" #newRow style="display: none">
            <td class="table-task droppable" id="drop-sunday"></td>
            <td class="table-task droppable" id="drop-monday"></td>
            <td class="table-task droppable" id="drop-tuesday"></td>
            <td class="table-task droppable" id="drop-wednesday"></td>
            <td class="table-task droppable" id="drop-thursday"></td>
            <td class="table-task droppable" id="drop-friday"></td>
            <td class="table-task droppable" id="drop-saturday"></td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-3 center-form">
      <form class="task-form" onsubmit="event.preventDefault()">
        <mat-form-field>
          <input matInput type="text" placeholder="New Task Name" #newTaskName>
        </mat-form-field>
        <button mat-stroked-button (click)="addTask(newTaskName.value)">Add</button>
      </form>
    </div>
    <div class="col-7">
      <div class="center-button center-form"><button mat-flat-button class="save-btn" (click)="save()">Save
          Changes</button></div>
    </div>
  </div>
</div>
