@use "sass:math";

.tasks {
  border: 2px solid white;
  text-align: center;
  width: 80%;
  min-width: 300px;
  margin-inline: 7.5%;

  .header {
    border-bottom: 1px solid white;
  }

  .body {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    // padding-top: 1%;

    .task {
      width: 100%;
      font-size: 22px;
      display: grid;
      grid-template-columns: 80% 20%;
      align-items: center;
      border-bottom: 1px solid white;
      margin: 0;

      .task-name {
        margin: 0;
        padding: 0.3rem 0;
        background-color: darkgray;
        border: 1px solid black;
      }
    }
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex: 1 1;
  justify-content: center;
  flex-wrap: wrap;
}

.col {
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  flex: 1 1;
}

.weekly-schedule {
  border: 2px solid white;
  width: 90%;
  height: 100%;
  max-height: fit-content;

  .header {
    border-bottom: 2px solid white;
    text-align: center;
    height: 30%;
    display: flex;

    h1 {
      margin: 0 auto;
      align-self: center;
    }
  }

  $col-width: math.percentage(math.div(1, 7));
  // Calendar / schedule body
  .cal-body {
    height: 70%;
    display: grid;
    grid-template-columns: $col-width $col-width $col-width $col-width $col-width $col-width $col-width;

    h2 {
      align-content: center;
    }
  }

  h2 {
    text-align: center;
    border-bottom: 1px solid white;
    border-inline: 1px solid white;
    margin: 0;
    padding: 5% 0;
  }

  p {
    border-inline: 1px solid white;
    border-bottom: 1px solid white;
    text-align: center;
    margin: 0;
    padding: 3% 0;
    font-size: 18px;
  }
}

.task-form {
  margin-inline: 7.5%;
  margin-top: 2%;
  width: 100%;

  button {
    width: 30%;
    margin-left: 5%;
  }
}
