@use "sass:math";
@use "@angular/material" as mat;


.tasks {
  border: 2px solid white;
  text-align: center;
  width: 80%;
  min-width: 300px;
  margin-inline: 7.5%;

  .header {
    border-bottom: 1px solid white;
  }

  .body {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    // padding-top: 1%;

    .task {
      width: 100%;
      font-size: 22px;
      display: flex;
      flex: 1 1;
      align-items: center;
      border-bottom: 1px solid white;
      margin: 0;

      .task-name {
        margin: 0;
        padding: 0.3rem 0;
        background-color: darkgray;
        border: 1px solid black;
        width: 100%;
      }
    }
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.col {
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  flex: 1;
}

.weekly-schedule{
  border: 1px solid white;
  width: 70%;
  min-height: 50vh;

  .header{
    text-align: center;
    font-size: 24px;
    margin-inline: auto;
  }

  .cal-body{
    tr{
      border-bottom: 1px solid white;
    }

    td{
      width: math.percentage(math.div(100, 7) * 0.01);
      text-align: center;
    }

    #addAbove{
      td{
        height: 5rem;
        max-height: 20px;
      }
    }
  }

}

.dropped{
  position: relative;
}

.data-row{
  min-height: 20px;
  height: 50px;

  td{
    margin: 2%;
    // background-color: gray;
  }
}

//TODO update angular and angular material
// .save-btn{
//   @include mat.button-overrides((
//     filled-container-color: orange,
//     filled-label-text-color: red,
//   ));
// }

