@use "@angular/material" as mat;
@include mat.core();

$theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$cyan-palette,
    tertiary: mat.$orange-palette,
  ),
  typography: (
    brand-family: 'Comic Sans',
    bold-weight: 900
  ),
  density: (
    scale: -1
  )
));


html {
  @include mat.all-component-themes($theme);
  @include mat.core-color($theme);

}


body {
  background-color: silver;
  margin: 0;
}

.container {
  display: flex;
  width: 100%;
  position: absolute;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.col {
  display: flex;
  flex-direction: row;
}

.modal {
  width: 40%;
  height: 60%;
  background-color: blue;
  color: white;
  margin: auto;
  overflow: hidden;
}

.modal-content {
  text-align: center;
  height: 100%;
  overflow: hidden;
  .title {
    margin-bottom: 2%;
  }

  input {
    display: block;
    position: relative;
    margin: auto;
    width: 60%;
    height: 6%;
    margin-top: 1%;
  }
}

dialog[open] {
  opacity: 1;
  transform: scaleY(1);
}

.close {
  background-color: gray;
  font-size: 30px;
  width: 2rem;
  height: 2rem;
  position: fixed;
  right: 0;
  top: 0;
  text-align: center;
}
// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.center-text{
  text-align: center;
}
