.calendar{
    background-color: white;
    width: 75%;
}

.calendar th{
    background-color: black;
    color: white;
}

.calendar thead th:only-child{
    font-size: 30px;
    column-span: all;
}

.calendar thead th{
    margin-inline: 1%;
}