.message{
  text-align: center;
  width: 25%;
  height: 50%;
  margin-inline: auto;
  position: relative;
  border: 1px solid white;
  border-radius: 3px;
  align-items: center;
  display: grid;
}

.body{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

@media (max-width: 1000px){
  .message{
    width: 60%;
  }
}

@media (max-width: 500px){
  .message{
    width: 90%;
  }
}
